.index__content_2s17f {
  display: flex;
  justify-content: center;
  padding: 80px 0 0 0;
  background: #ffffff;
}
.index__login-form_3VX2c {
  background: #ffffff;
  box-shadow: 0 0 8px 0 rgba(34, 34, 34, 0.03);
  height: 400px;
  width: 380px;
  padding: 36px 50px 32px;
}

